html,
body {
  margin: 0;
  height: 100%;
  font-family: interface, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -.01em;
  text-transform: uppercase;
}

p,
dd {
  line-height: 1.325em;
  font-size: 1.25em;
}

a {
  text-decoration: underline;
  overflow-wrap: break-word;
}

a:hover {
  font-weight: 700;
}

dt {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  font-style: italic;
  padding-bottom: 5px;
  text-transform: uppercase;
}

dd {
  margin-left: 0;
  margin-bottom: 1em;
  padding-bottom: 5px;
}

/* Horizontal 75/25 layout on desktop */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.map {
  height: auto;
  width: 75%;
}

.info-panel {
  background-color: #fffc1b;
  height: auto;
  width: 25%;
  padding: 1.5em;
}

/* Stacked vertical layout on mobile */
@media (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
  }

  .map {
    width: auto;
    height: 500px;
  }

  .info-panel {
    background-color: #fffc1b;
    height: min-content;
    width: auto;
    padding: 1.5em;
  }
}
